doctype
html
	head
		include partials/head
	body
		include partials/header
		include partials/banner
		include partials/contacts
		include partials/footer

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFBZpF5r2irY9bDtdULlE5XnUYYtVXmlY&callback=initMap"type="text/javascript"></script>
		<script src="js/src.js" type="text/javascript"></script>
