.schedule-wrap.offset
	h1.subheading.text-center
		|Графік роботи
	.wrapper
		.col-1-2
			h3.subheading.text-left
				i.fas.fa-calendar-alt
				|Робочі дні:
			div
				span.days
					|Вівторок, Четвер, П'ятниця
				span.time
					.i.fas.fa-clock
					|12:00-16:00
			div
				span.days
					|Субота та Неділя
				span.time
					.i.fas.fa-clock
					|14:00-16:00
		.col-1-2
			h3.subheading.text-left
				i.fas.fa-calendar-alt
				|Вихідні:
			span.days
				|Понеділок, Середа