.wrapper {
	position: relative;
	max-width: 960px;
	z-index: 3;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}

.row {
	display: flex;
	margin: 0 -15px;
}

.col-1-2 {
	@include breakpoint(md) {
		flex-basis: 50%;
		max-width: 50%;
	}
}

.col-1-1 {
	@include breakpoint(sm) {
		flex-basis: 100%;
		max-width: 100%;
		flex-wrap:wrap;
	}
	@include breakpoint(xs) {
		flex-basis: 100%;
		max-width: 100%;
		flex-wrap:wrap;
		
	}
}